html, body {
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;

}

main {
    max-width: 540px;
    display: block;
    margin: 0 auto;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', serif;
}
.quote {
    font-style: italic;
    padding: 24px 50px 8px;
    margin: 0;
    text-align: center;
}


.quote + .quote {
    padding: 0 0 12px;
}